html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#3e3833;
}

.lead {
	color:#3e3833;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.drk-grey{
	color:#3e3833;
	}
/* Custom container */

.container-grey{
	background-color:#efefef;
	}
	
.container-black{
	background-color:#3e3833;
	}
	
.container-yellow{
	background-color:#f8bd09;
	}
	
.container-full {
  margin: 0 auto;
  width: 100%;
  color:#eee;
  overflow:hidden;
}



.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:3%;
}


.copyright {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 12px;
  vertical-align: sub;
  padding-bottom: 15px;
  padding-top: 15px;
}


/*timer*/


#main { 
  background: #3B3B3B;
  height: 430px;
}



.text {
  border-bottom: 1px solid #262626;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.text h2 {
  color: #E5E5E5;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}


.counter h3 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #ffffff;
}

.img-margin{
	margin-bottom:20px;
}

@media(max-width:767px){
  #countdown span {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.timercontent {
  padding: 10px 5px;
}
}

@media(min-width:768px){
  #countdown span {
  font-size: 26px;
  margin-left: 20px;
  margin-right: 20px;
}
.timercontent {
  padding: 10px 44px;
}
}
